mlruns/
__pycache__/
*.pyc
*.pyo
.env
*.egg-info/
dist/
build/
.eggs/
*.egg
.DS_Store
Thumbs.db
*.log
confusion_matrix.csv
mlflow.db
*.db
model/
model.pkl
.venv/
Dockerfile
docker-compose.yml
export_model.py
generate_traffic.py
inference.py
prometheus.yml
requirements_monitoring.txt
grafana/
model/
mlruns/
mlflow.db
